.page-body{
    box-sizing: border-box;
    width: auto;
    margin-right: 230px;
    margin-left: 230px;
    background-image: url(/img/parallax-bg.jpeg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.header{
    margin-top: 46px;
    margin-bottom: 128px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-block-wrapper{
}
.header-img{
    width: 216px;
    height: 33px;   
}

.header-span{
    color: #D6AF76;
}
.header-content{
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;  
}
.header-link{
    padding: 10px 25px 10px 26px;
    border: 1px solid #D6AF76;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #D6AF76;
    margin-left: 39px;
}
.link-img{
    margin-right: 10px;
}
.section-one-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;  
    margin-bottom: 41px;
}
.section-one-text{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    width: 1182px;
    margin-bottom: 41px;
}
.grid-section-one{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 30px 27px;
    width: 1460px;
    min-height: 962px;
    max-height: 962px;
    margin-bottom: 161px;
    grid-template-areas: 
    "item-one item-one item-two item-two item-three item-three"
    "item-four item-four item-four item-five item-five item-five";
    
}
.section-one{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

}
.item-one{
    justify-self: center;
    align-self: center;
    padding: 220px 148px 220px 148px;
    background: #634F2C;
    grid-area: item-one;
}
.item-two{
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 205px 44px 205px 43px;
    background: #B4A385;
    grid-area: item-two;
}
.item-three{
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 220px 140px 220px 140px;
    background: #E4B564;
    grid-area: item-three;
}
.item-four{
    justify-self: center;
    align-self: center;
    padding: 220px 162px 220px 165px;
    background: #635A4A;
    grid-area: item-four;
}
.item-five{
    justify-self: center;
    align-self: center;
    padding: 220px 237px 220px 240px;
    background: #B08C4D;
    grid-area: item-five;
}
.section-two-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 94px;
    color: #FFFFFF;
}
.grid-section-two{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 1460px;
    min-height: 962px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 190px;
}
.item1{
    grid-area: 3 / 1 / 7 / 3;
    background-color: #0E0E0E;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 50px;
}
.item2{
    grid-area: 1 / 1 / 3 / 3;
    background-color: #242424;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 180px;
}
.item3{
    grid-area: 4 / 3 / 7 / 5;
    background-color: #E4B564;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 50px;
}
.item4{
    grid-area: 1 / 3 / 4 / 5;
    background-color: #1F1F1F;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 150px;
}
.item5{
    grid-area: 5 / 5 / 7 / 7;
    background-color: #0E0E0E;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 50px;
}
.item6{
    grid-area: 3 / 5 / 5 / 7;
    background-color: #0E0E0E;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 50px;
}
.item7{
    grid-area: 1 / 5 / 3 / 7;
    background-color: #1F1F1F;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-left: 50px;
}
.footer{
    margin-bottom: 230px;
}
.footer-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}
.footer-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-link{
    text-decoration: none;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 40px 10px 40px;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 1460px;
    min-height: 700px;
}
.span1{
    grid-area: 1 / 1 / 3 / 3;
    background: #634F2C;
    text-align: center;
    
}
.span2{
    grid-area: 1 / 3 / 3 / 5;
    background: rgba(232, 210, 171, 0.76);
    /* text-align: center; */
    /* align-content: center; */
    
}
.span3{
    grid-area: 1 / 5 / 3 / 7;
    background: #E4B564;
    text-align: center;
}
.span4{
    grid-area: 3 / 5 / 5 / 7;
    background: #635A4A;
    text-align: center;
}
.span5{
    grid-area: 3 / 3 / 5 / 5;
    background: #B08C4D;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.span6{
    grid-area: 3 / 1 / 5 / 3;
    background: #635A4A;
    text-align: center;
    
}